---
interface Props {
  title: string;
  desc: string;
  imgPath: string;
  tags: string[];
  color: string;
  link: string
}

const { title, desc, imgPath, tags, color, link } = Astro.props;
---

<div>
  <a href={link}>
  <img src={imgPath} alt={title} />
  <h3 class="text-primary">{title}</h3>
  <p class="text-primary">{desc}</p>
  </a>
  <!-- <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">{tag}</p>
      ))
    }
  </div> -->
</div>
