---
interface Props {
  title: string;
  desc: string;
  imgPath: string;
  // tags: string[];
  // color: string;
  link: string;
}

const { title, desc, imgPath, link } = Astro.props;
---

<div
  class="bg-darker rounded-md outline outline-2 outline-offset-4 outline-dark/0 shadow-md hover:outline-verdigris hover:scale-105 hover:shadow-lg active:scale-100 ease-in duration-100"
>
  <div class="">
    <a href={link} target="_blank">
      <img class="rounded-md" src={imgPath} alt={title} />
      <div class="p-5">
        <h3 class="text-primary">{title}</h3>
        <p class="text-primary">{desc}</p>
      </div>
    </a>
  </div>
  <!-- <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">{tag}</p>
      ))
    }
  </div> -->
</div>
